@font-face {
  font-family: "Dinish";
  src: url("../fonts/DinishExpanded-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Roundaway Gothic";
  src: url("../fonts/RJSRoundawayGothic.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Roundaway Stencil";
  src: url("../fonts/RJSRoundawayStencil.otf");
  font-weight: 400;
}

:root {
  --blue: #2760FF;
  --l_font: 3rem;
  --m_font: 1rem;
  --s_font: 0.75rem;
  --outer_margin:  2rem;

  --icon_3: #8dc63f;
}

html{
  font-size: 24px;
}

body{
  background-color: #fff;
	font-family: Dinish, sans-serif;
  line-height: 1.1;
  margin: 0;
}

footer{
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right:  0;
  background-color: #fff;
  font-size: var(--s_font);
  display: flex;
  justify-content: center;
  height: 4rem;
  align-items: center;
}

.spacer{
  margin-left: 1rem;
  margin-right: 1rem;
}

#header_info{
  width: 15rem;
  font-size: var(--s_font);
  position: fixed;
  z-index: 3;
  bottom: var(--outer_margin);
  text-align: left;
  right: var(--outer_margin);
}

h1,
h2,
h3{
  font-weight: normal;
  width: 100%;
}

h1{
  font-size: var(--m_font);
  letter-spacing: 0.5rem;
  margin-top: 3.5rem;
  text-transform: uppercase;
}

h2{
  font-family: Roundaway Gothic;
  font-size: var(--l_font);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h3{
  font-size: var(--s_font);
  margin: 2rem 0;
} 

a{
  text-decoration: underline;
  color:  inherit;
}

.button{
  background-color: transparent;
  border:  none;
}

@media (max-width: 1850px){
  html{
    font-size: 20px;
  }
}

@media (max-width: 1600px){
  html{
    font-size: 18px;
  }
}

@media (max-width: 1440px){
  html{
    font-size: 16px;
  }
}
