@media (hover: hover){
  .mp3_download:hover{
    background-color: var(--blue);
    color: #ffffff;
    border-color: var(--blue);
  }
}

.audio_container{
  width: 50%;
  margin:  0rem 25% 6rem 25%;
}

.audio_player{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.play_pause_container img{
	width: 4rem;
	height: 4rem;
}
.pause {
	display: none;
}

.progress_bar_wrapper{
	position: relative;
	height: 4rem;
	width: calc(100% - 6rem);
	box-sizing: border-box;
	border: 5px solid;
	border-top: none;
}

.time,
.mp3_download{
	position: absolute;
	top: calc(100% + 1rem);
}

.mp3_download{
  top: calc(100% + 1rem - 0.5rem - 3px);
  right: -5px;
  text-decoration: none;
  padding: 0.5rem;
  border: 3px solid;
  border-top: none;
  box-sizing: border-box;
}

.audio_heading{
  display: block;
  margin-bottom: 1rem;
  font-size: var(--m_font);
}

.audio_track{
  margin-bottom: 1rem;
}

#track_select{
  display: flex;
  width: auto;
  border-top: 3px solid var(--blue);
  border-left: 3px solid var(--blue);
  margin-bottom: 2rem;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

#track_select button.selected{
  background-color: var(--blue);
  color: #fff;
}

#track_select button{
  padding:  0.5rem;
  box-sizing: border-box;
  font-family: 'Roundaway Gothic';
  color: var(--blue);
  border-right: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
  font-size: var(--l_font);
  flex-grow: 1;
}

#track_select button.text{
  font-family: 'Dinish';
  font-size: var(--m_font);
}

#mp3_downloads{
  width: 100%;
  color:  #fff;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 2rem;
  background-color: var(--blue);
}
.mp3_download{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mp3_download img{
  height: 1.5rem;
  margin-right: 1rem;
}